* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

.image {
    width: 100%;
    height: 300px;
    background-image: url('image/illustration.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

.text {
    text-align: center;
    color: white;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    /* max-width: 400px; */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

form>div>input {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
}

input:focus {
    outline: none;
    border-color: #f2786e;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.btn-1,
.btn-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
}

.btn-2 {
    color: white;
    background-color: #4f70b5;
}

.or {
    text-align: center;
}

span {
    color: #f2796e;
    cursor: pointer;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

form div i {
    position: absolute;
    padding: 10px;
}

.failure-icon,
.success-icon {
    right: 0;
    opacity: 0;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    margin-top: 3px;
    font-size: 14px;
}

button {
    width: 100%;
    min-height: 50px;
    border: none;
    background-color: #f2786e;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 0;
}

button:hover {
    background-color: #e6675b;
    transition: 0.3s;
}

@media (max-width:900px) {
    .container {
        flex-direction: column;
    }
    .content,
    form {
        width: 100% !important;
    }
    .btn {
        flex-direction: column;
        ;
    }
}

@media (max-width:425px) {
    form {
        padding: 20px;
    }
}

form div i.fa-user,
form div i.fa-envelope,
form div i.fa-lock {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}